.container {
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    width: 33%;
    height: 120px;
    margin: 10px 0;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
